
PORT=8005

APP_ENV=local
APP_KEY=nX5D96ZEhtXYhk5joLpaUtC9V7YJEgcp
APP_DEBUG=true

DB_LOGGING=true

JWT_KEY=my_JWT_key
IV_KEY=my_iv_KEY

SITE_DB_HOST=localhost
SITE_DB_PORT=3306
SITE_DB_USER=rocket8db_dev
SITE_DB_PASSWORD=rocket8
SITE_DB_DATABASE=rocket8-tms-dev